@charset "UTF-8";
/*Import des polices utilisées sur le site*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Polices et margin de base**
*****************************/
body {
  font-family: "Shrikhand", "Roboto", sans-serif;
  margin: 0;
}

/*Polices, tailles, mise en forme de base en fonction des balises utilisées*
***************************************************************************/
h1,
h2,
h3,
h4 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}

h1,
h2 {
  padding-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

p,
span,
img {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

/*******************************************************
*Conception et paramétrages des boutons du site*********
*******************************************************/
.button {
  /*Propriétés communes*/
  height: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 1000ms, filter 1000ms;
  /*Propriété spécifiques à certains boutons*/
}
.button.geoButton {
  width: 3rem;
  background-color: #eaeaea;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.button.searchButton {
  background: linear-gradient(to bottom right, #ff79da, 45%, #9356dc);
  color: whitesmoke;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
}
.button.validationButton {
  background: linear-gradient(to bottom right, #ff79da, 45%, #9356dc);
  color: whitesmoke;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
}
.button:hover {
  /*Comportement au hover*/
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: 0 0.1rem 0.4rem 0.1rem #808080;
}
.button:focus {
  /*Comportement au hover pour enlever le cadre sur les navigateurs basés sur chromium*/
  outline-style: none;
}

/*******************************************************
*Conception et paramétrages des cards*******************
*******************************************************/
/*Cards de la page d'accueil**
*****************************/
.card {
  /*Container de la card*/
  height: 15rem;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
}
@media screen and (min-width: 500px) {
  .card {
    height: 20rem;
  }
}
@media screen and (min-width: 750px) {
  .card {
    height: 22rem;
  }
}

.cardPictureContainer {
  /*Container de la photo permettant l'effet de zoom par un scale au hover*/
  position: relative;
  height: 11rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .cardPictureContainer {
    height: 16rem;
  }
}
@media screen and (min-width: 750px) {
  .cardPictureContainer {
    height: 18rem;
  }
}

.cardPictureContainer:hover .cardPicture {
  /*Scale au hover*/
  transform: scale(1.1);
}

.cardPicture {
  /*L'image avec les propriétés de la transition du scale*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1000ms ease-out;
  /*Le positionnement des images*/
}
.cardPicture.cardPicture1 {
  object-position: 0% 85%;
}
.cardPicture.cardPicture2 {
  object-position: 0% 61%;
}
.cardPicture.cardPicture3 {
  object-position: 0% 95%;
}
.cardPicture.cardPicture4 {
  object-position: 0% 90%;
}
@media screen and (min-width: 1280px) {
  .cardPicture.cardPicture1 {
    object-position: 40% 85%;
  }
  .cardPicture.cardPicture3 {
    object-position: 20% 95%;
  }
  .cardPicture.cardPicture4 {
    object-position: 40% 90%;
  }
}

.newSticker {
  /*Sticker "Nouveau"*/
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.9rem;
  height: 1.6rem;
  padding: 0.4rem;
  background-color: #99e2d0;
  font-family: Roboto;
  font-weight: 500;
  color: #278870;
  border-radius: 0.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText {
  /*Container du texte des cards*/
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardText h3 {
  font-family: Roboto;
}

.cardTitle {
  /*Titre de la carte avec une width élargissant la zonne de click*/
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardIcon {
  /*Icone coeur de gestion des favoris*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Effets liés aux checkbox utilisées**
*************************************/
.checkBox {
  /*Checkbox permettant d'activer des effets au click*/
  position: absolute;
  z-index: 100;
  opacity: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  /*Translation de la div de confirmation et rotation de l'icône qu'elle contient*/
}
.checkBox:checked ~ .heartLabel {
  /*Effet de coloration du coeur*/
}
.checkBox:checked ~ .heartLabel .cardIconEmpty {
  opacity: 0;
}
.checkBox:checked ~ .heartLabel .cardIconFull {
  opacity: 1;
}
.checkBox:checked ~ .dishPrice {
  /*Translation de la div de prix*/
  transform: translateX(-4rem);
  margin-left: 4.5rem;
}
.checkBox:checked ~ .check {
  transform: translateX(-100%);
}
.checkBox:checked ~ .check > i {
  transform: rotate(360deg);
}

/*Coloration des coeurs*/
.cardIconEmpty {
  position: absolute;
  opacity: 1;
  transition: opacity 250ms;
}

.cardIconFull {
  /*Application d'un dégradé au background qui est limité à la portion située sous le texte et transparence du texte (ici icône de coeur)*/
  cursor: pointer;
  position: relative;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1000ms;
}

/*Les cards des plats*
**********************/
.dishCard {
  /*Container principal contenant...*/
  font-family: Roboto;
  height: 4rem;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 3px 0px #808080;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  animation: loadMenu 2000ms ease-in-out 1 both;
}

.dishText {
  /*...une div de texte,avec les propriétés permettant de tronquer avec ellipse,...*/
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.dishText .dishTitle,
.dishText .dishDescription {
  font-family: Roboto;
  padding-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishPrice {
  /*...une div de prix qui translate au check,...*/
  padding: 0 1rem 0.6rem 0;
  display: flex;
  align-self: flex-end;
  transition-duration: 1000ms;
}

.check {
  /*...une div de confirmation, qui translate au check et dont l'icône tourne alors*/
  position: absolute;
  left: 100%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition-duration: 1000ms;
}

.checkIcon {
  font-size: 1.3rem;
  color: whitesmoke;
  transition-duration: 1000ms;
}

/*******************************************************
*Conception et paramétrages des différentes animations**
*******************************************************/
/*Loading spinner sur page d'accueil
***********************************/
/*Visibilité et opacité de l'animation*/
@keyframes load {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*Animation du loader*/
@keyframes spinner {
  0% {
    border-color: #9356dc;
    opacity: 0;
    transform: scale(0.5);
  }
  16.66% {
    border-color: #9356dc;
    opacity: 1;
    transform: scale(1);
  }
  33.33% {
    border-color: #9356dc;
    opacity: 0;
    transform: scale(0.5);
  }
  33.34% {
    border-color: #ff79da;
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    border-color: #ff79da;
    opacity: 1;
    transform: scale(1);
  }
  66.66% {
    border-color: #ff79da;
    opacity: 0;
    transform: scale(0.5);
  }
  66.67% {
    border-color: #99e2d0;
    opacity: 0;
    transform: scale(0.5);
  }
  83.33% {
    border-color: #99e2d0;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    border-color: #99e2d0;
    opacity: 0;
    transform: scale(0.5);
  }
}
/*Fin loading spinner***************
***********************************/
/*Loader des menus sur les pages des restaurants*
************************************************/
/*Animation du loader d'apparition des cards*/
@keyframes loadMenu {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  35% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
/*Delays de démarrage affectés aux cards*/
.appearDelay1 {
  animation-delay: 150ms;
}

.appearDelay2 {
  animation-delay: 400ms;
}

.appearDelay3 {
  animation-delay: 650ms;
}

.appearDelay4 {
  animation-delay: 900ms;
}

.appearDelay5 {
  animation-delay: 1150ms;
}

.appearDelay6 {
  animation-delay: 1400ms;
}

.appearDelay7 {
  animation-delay: 1650ms;
}

.appearDelay8 {
  animation-delay: 1900ms;
}

.appearDelay9 {
  animation-delay: 2150ms;
}

.appearDelay10 {
  animation-delay: 2400ms;
}

/*************************************************
**Fin loader des menus***************************/
/******************************************************************
*Paramétrage des différentes div utilisées pour le loading spinner*
******************************************************************/
.load {
  /*Position absolute et z-index élevé pour passer sur le content, et durée de l'animation; en flex pour positionner*/
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 3000ms ease-in-out 1 forwards;
}

.loadingSpinner {
  /*En flex pour positionner et avec les propriétés appliquées à l'animation*/
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid;
  background-color: gainsboro;
  animation: spinner 3000ms ease-in-out infinite;
}

.loadingSpinnerImg {
  width: 90%;
}

/*Paramétrage des containers principaux*
***************************************/
.content {
  /*Container du contenu du la page d'index, nécessaire pour le bon fonctionnement du loading spinner*/
  position: relative;
  z-index: 1;
  display: block;
}

.container {
  /*Container destiné à limiter la width du contenu sur la version desktop*/
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

/*******************************************************
*Conception et paramétrages du header*******************
*******************************************************/
.header {
  /*En grid pour le positionnement et avec un z-index pour passer le box-shadow au-dessus du bandeau de localisation*/
  height: 5rem;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 0.5rem #808080;
  margin: 0;
}

.logo {
  grid-column: 2/2;
  justify-self: center;
}

/*******************************************************
*Conception et paramétrages du footer*******************
*******************************************************/
.footer {
  padding: 2rem 1rem;
  color: whitesmoke;
  background-color: black;
}

.footerTitle {
  display: flex;
}
@media screen and (min-width: 750px) {
  .footerTitle {
    justify-content: center;
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .footerContent {
    justify-content: center;
    flex-direction: row;
  }
}

.footerLink {
  color: whitesmoke;
  display: flex;
  line-height: 1.7rem;
}
@media screen and (min-width: 750px) {
  .footerLink {
    margin: 0 1rem;
  }
}

.footerLinkIcon {
  width: 20px;
  padding-right: 0.5rem;
}

/*******************************************************
*Blocs présents sur la page d'accueil uniquement********
*******************************************************/
/*Zone de recherche***
*********************/
.searchZone {
  /*z-index < à celui du header pour l'effet de chevauchement du header*/
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
}

.location {
  /*Bandeau de localisation*/
  height: 4rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationSearchBar {
  display: flex;
  justify-content: space-between;
}

.locationInput {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border: none;
  font-weight: bold;
  text-align: center;
}
.locationInput:focus {
  /*Comportement au focus (border et zone de saisie)*/
  outline: solid 2px #808080;
  background-color: whitesmoke;
}

.searchSubmission {
  /*Zone de validation de la recherche*/
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Roboto;
}
.searchSubmission h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

/*Zone de présentation du process de commande**
***********************************************/
.operationInfo {
  padding: 2rem 1rem;
}
.operationInfo h2 {
  font-family: Roboto;
}

/*Groupe en grid pour disposition*/
.processCardGroup {
  padding: 0 1rem;
  display: grid;
  row-gap: 1.5rem;
}
@media screen and (min-width: 750px) {
  .processCardGroup {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}

/*Cards en flex pour gérer facilement le positionnement des différents éléments à l'aide notamment du margin*/
.processCard {
  /*Propriétés de la card et notamment de la transition intervenant au hover*/
  height: 4rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
  display: flex;
  align-items: center;
  transition: background-color 1000ms, box-shadow 1000ms, filter 1000ms;
}
.processCard:hover {
  /*Effet au hover*/
  background-color: #e9ddf8;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #808080;
  cursor: default;
}
.processCard:hover .processIcon {
  color: #9356dc;
}

.processStep {
  /*Numéro de l'étape dans une div ronde avec chevaument par margin-left négatif*/
  margin-right: 1.5rem;
  margin-left: -0.9rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 3rem;
  color: whitesmoke;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processIcon {
  /*Icône associée à l'étape*/
  margin-right: 1.5rem;
  color: #808080;
}

.processText {
  font-weight: 500;
}

/*Zone de résultat de recherche, présentant les restaurants**
*************************************************************/
.searchResults {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.searchResults h2 {
  font-family: Roboto;
}
.searchResults .cardGroup {
  /*Galerie en grid avec paramétrage des différents displays*/
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 750px) {
  .searchResults .cardGroup {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .searchResults .cardGroup {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }
}

/*******************************************************
*Blocs présents sur les pages menus uniquement**********
*******************************************************/
.restaurantPicture {
  /*z-index < à celui de restaurantContent pour permettre le positionnement en chevauchement*/
  position: relative;
  z-index: 1;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 750px) {
  .restaurantPicture {
    height: 30rem;
  }
}

.restaurantContent {
  /*z-index > à celui de restaurantPicture pour permettre le positionnement en chevauchement via un margin-top négatif*/
  position: relative;
  z-index: 9999;
  background-color: #eaeaea;
  margin-top: -3.5rem;
  padding: 2rem 0.5rem;
  border-radius: 2rem 2rem 0 0;
  display: grid;
  row-gap: 2rem;
}

.restaurantTitle {
  /*div contenant le nom du restaurant et l'icône de favori*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0.5rem;
}
@media screen and (min-width: 1280px) {
  .restaurantTitle {
    padding: 0 1rem;
  }
}

.restaurantMenu {
  /*Galerie des plats, en grid avec paramétrage des différents displays*/
  display: grid;
  row-gap: 1rem;
  padding: 0 0.5rem;
}
@media screen and (min-width: 1280px) {
  .restaurantMenu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 0 1rem;
  }
}

.menuTitle {
  /*Titre de partie de menu, en position relative pour le ::after qui suit*/
  position: relative;
  font-family: Roboto;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.3rem 0;
}
.menuTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  height: 0.15rem;
  background-color: #99e2d0;
}

.dishList {
  /*Liste des plats d'une partie de menu, en grid*/
  padding: 1rem 0;
  display: grid;
  row-gap: 1.2rem;
}

.orderValidation {
  /*Zone de validation de la commande*/
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}

/*# sourceMappingURL=styles.css.map */
