@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes load {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.load {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 3000ms ease-in-out 1 forwards;
}

@keyframes spinner {
  0% {
    border-color: #9356DC;
    opacity: 0;
    transform: scale(0.5);
  }
  16.66% {
    border-color: #9356DC;
    opacity: 1;
    transform: scale(1);
  }
  33.33% {
    border-color: #9356DC;
    opacity: 0;
    transform: scale(0.5);
  }
  33.34% {
    border-color: #FF79DA;
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    border-color: #FF79DA;
    opacity: 1;
    transform: scale(1);
  }
  66.66% {
    border-color: #FF79DA;
    opacity: 0;
    transform: scale(0.5);
  }
  66.67% {
    border-color: #99E2D0;
    opacity: 0;
    transform: scale(0.5);
  }
  83.33% {
    border-color: #99E2D0;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    border-color: #99E2D0;
    opacity: 0;
    transform: scale(0.5);
  }
}
.loadingSpinner {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid;
  background-color: gainsboro;
  animation: spinner 3s ease-in-out infinite;
}

.loadingSpinnerImg {
  width: 90%;
}

.content {
  position: relative;
  z-index: 1;
  display: block;
}

body {
  font-family: "Shrikhand", "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

h1, h2, h3 {
  font: "Shrikhand", sans-serif;
  margin: 0;
}

h1, h2 {
  padding-bottom: 1rem;
}

p, span, img {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  height: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 1000ms, filter 1000ms;
}
.button.geoButton {
  width: 3rem;
  background-color: #eaeaea;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.button.searchButton {
  background: linear-gradient(to bottom right, #ff79da, 45%, #9356dc);
  color: whitesmoke;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
}
.button:hover {
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: 0 0.1rem 0.4rem 0.1rem #808080;
}
.button:focus {
  outline-style: none;
}

.header {
  height: 5rem;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 0.5rem #808080;
  margin: 0;
}

.logo {
  grid-column: 2/2;
  justify-self: center;
}

.searchZone {
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
}

.location {
  height: 4rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationSearchBar {
  display: flex;
  justify-content: space-between;
}

.locationInput {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
.locationInput:focus {
  outline: solid 2px #808080;
  background-color: whitesmoke;
}

.searchSubmission {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Roboto;
}
.searchSubmission h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

.operationInfo {
  padding: 2rem 1rem;
}
.operationInfo h2 {
  font-family: Roboto;
}

.processCardGroup {
  padding: 0 1rem;
  display: grid;
  row-gap: 1.5rem;
}
@media screen and (min-width: 800px) {
  .processCardGroup {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}

.processCard {
  height: 4rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
  display: flex;
  align-items: center;
  transition: background-color 1000ms, box-shadow 1000ms, filter 1000ms;
}
.processCard:hover {
  background-color: #e9ddf8;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #808080;
  cursor: default;
}
.processCard:hover .processIcon {
  color: #9356dc;
}

.processStep {
  margin-right: 1.5rem;
  margin-left: -0.9rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 3rem;
  color: whitesmoke;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processIcon {
  margin-right: 1.5rem;
  color: #808080;
}

.processText {
  font-weight: 500;
}

.searchResults {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.searchResults h2 {
  font-family: Roboto;
}
.searchResults .cardGroup {
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 800px) {
  .searchResults .cardGroup {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .searchResults .cardGroup {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }
}

.card {
  height: 15rem;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
}
@media screen and (min-width: 500px) {
  .card {
    height: 20rem;
  }
}
@media screen and (min-width: 750px) {
  .card {
    height: 22rem;
  }
}

.cardPictureContainer {
  position: relative;
  height: 11rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .cardPictureContainer {
    height: 16rem;
  }
}
@media screen and (min-width: 750px) {
  .cardPictureContainer {
    height: 18rem;
  }
}

.cardPictureContainer:hover .cardPicture {
  transform: scale(1.1);
}

.cardPicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1000ms ease-out;
}
.cardPicture.cardPicture1 {
  object-position: 0% 85%;
}
.cardPicture.cardPicture2 {
  object-position: 0% 61%;
}
.cardPicture.cardPicture3 {
  object-position: 0% 95%;
}
.cardPicture.cardPicture4 {
  object-position: 0% 90%;
}
@media screen and (min-width: 1280px) {
  .cardPicture.cardPicture1 {
    object-position: 40% 85%;
  }
  .cardPicture.cardPicture3 {
    object-position: 20% 95%;
  }
  .cardPicture.cardPicture4 {
    object-position: 40% 90%;
  }
}

.newSticker {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.9rem;
  height: 1.6rem;
  padding: 0.4rem;
  background-color: #99e2d0;
  font-family: Roboto;
  font-weight: 500;
  color: #278870;
  border-radius: 0.16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardText {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardText h3 {
  font-family: Roboto;
}

.cardTitle {
  display: flex;
  flex-direction: column;
}

.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardIconEmpty {
  position: relative;
  font-size: 1.9em;
}

.cardIconFull {
  position: absolute;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 1000ms;
}
.cardIconFull:hover {
  opacity: 1;
}

.footer {
  padding: 2rem 1rem;
  color: whitesmoke;
  background-color: black;
}

.footerTitle {
  display: flex;
}
@media screen and (min-width: 800px) {
  .footerTitle {
    justify-content: center;
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .footerContent {
    justify-content: center;
    flex-direction: row;
  }
}

.footerLink {
  color: whitesmoke;
  display: flex;
  line-height: 1.7rem;
}
@media screen and (min-width: 800px) {
  .footerLink {
    margin: 0 1rem;
  }
}

.footerLinkIcon {
  width: 20px;
  padding-right: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
