@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #808080;
$loadingSpinnerBg: gainsboro;

$sectionPadding : 2rem 1rem;

@keyframes load {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.load {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load 3000ms ease-in-out 1 forwards;
}

@keyframes spinner {
    0% {
        border-color: #9356DC;
        opacity: 0;
        transform: scale(0.5);
    }
    16.66% {
        border-color: #9356DC;
        opacity: 1;
        transform: scale(1);
    }
    33.33% {
        border-color: #9356DC;
        opacity: 0;
        transform: scale(0.5);
    }
    33.34% {
        border-color: #FF79DA;
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        border-color: #FF79DA;
        opacity: 1;
        transform: scale(1);
    }
    66.66% {
        border-color: #FF79DA;
        opacity: 0;
        transform: scale(0.5);
    }
    66.67% {
        border-color: #99E2D0;
        opacity: 0;
        transform: scale(0.5);
    }
    83.33% {
        border-color: #99E2D0;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        border-color: #99E2D0;
        opacity: 0;
        transform: scale(0.5);
    }
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    background-color: $loadingSpinnerBg;
    animation: spinner 3s ease-in-out infinite;
}

.loadingSpinnerImg {
    width: 90%;
}

body {
    font-family: 'Shrikhand', 'Roboto', sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

h1, h2, h3 {
    font: 'Shrikhand', sans-serif;
    margin: 0;
}

h1, h2 {
    padding-bottom: 1rem;
}

p, span, img {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    height: 3rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 1500ms, filter 1500ms;
    &.geoButton {
        width: 3rem;
        background-color: $grey;
        margin-right: .5rem;
        font-size: 1.3rem;
    }
    &.searchButton {
        background: linear-gradient(to bottom right, $secondary, 45%, $primary);
        color: whitesmoke;
        box-shadow: 0 .1rem .4rem .1rem $grey;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(110%);
        box-shadow: 0 .1rem .4rem .1rem $darkGrey;
    }
    &:focus {
        outline-style: none;
    }
}

.header {
    height: 5rem;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-end;
}

.logo {
    grid-column: 2 / 2;
    justify-self: center;
}

.searchZone {
    background-color: $lightGrey;
}

.location {
    height: 4rem;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchBar {
    display: flex;
    justify-content: space-between;
}

.locationInput {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    &:focus {
        outline: solid 2px $darkGrey;
        background-color: whitesmoke;
    }
}

.searchSubmission {
    padding: $sectionPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    h2 {
        font-size: 1.1rem;
        font-weight: normal;
    }
}

.operationInfo {
    padding: $sectionPadding;
    h2 {
        font-family: Roboto;
    }
}

.processCardGroup {
    padding: 0 .5rem;
    display: grid;
    row-gap: 1.5rem;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

.processCard {
    height: 4rem;
    background-color: $lightGrey;
    border-radius: 1rem;
    box-shadow: 0 .1rem .4rem .1rem $grey;
    display: flex;
    align-items: center;
    transition: background-color 1500ms, box-shadow 1500ms, filter 1500ms;
    &:hover {
        background-color: lighten($primary, 32%);
        box-shadow: 0 .1rem .4rem .1rem $darkGrey;
        .processIcon {
            color: $primary;
        }
    }
}

.processStep {
    margin-right: 1.5rem;
    margin-left: -.9rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 3rem;
    color: whitesmoke;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processIcon {
    margin-right: 1.5rem;
    color: $darkGrey;
}

.processText {
    font-weight: 500;
}

.searchResults {
    background-color: $lightGrey;
    padding: $sectionPadding;
    h2 {
        font-family: Roboto;
    }
    .cardGroup {
        display: grid;
        row-gap: 2rem;
        @media screen and (min-width: 800px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
        @media screen and (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 1.5rem;
        }
    }
}

.card {
    height: 15rem;
    width: calc(max-width - 4rem);
    background-color: whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .1rem .4rem .1rem $grey;
    @media screen and (min-width: 800px) {
        height: 20rem;
    }
}

.cardPictureContainer {
    position: relative;
    height: 11rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    overflow: hidden;
    @media screen and (min-width: 800px) {
        height: 16rem;
    }
}

.cardPictureContainer:hover .cardPicture {
  transform: scale(1.1);
}

.cardPicture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1500ms;
}

.newSticker {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.9rem;
    height: 1.6rem;
    padding: .4rem;
    background-color: $tertiary;
    font-family: Roboto;
    font-weight: 500;
    color: darken($tertiary, 40%);
    border-radius: .16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardText {
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-family: Roboto;
    }
}

.cardTitle {
    display: flex;
    flex-direction: column;
}

.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardIconEmpty {
    position: relative;
    font-size: 1.9em;
}

.cardIconFull {
    position: absolute;
    color: transparent;
    &:hover {
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.footer {
    padding: $sectionPadding;
    color: whitesmoke;
    background-color: black;
}

.footerLink {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
}

.footerLink {
    flex-direction: row;
}

.footerLinkIcon {
    width: 20px;
    padding-right: .5rem;
}