@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #808080;
$loadingSpinnerBg: gainsboro;

$sectionPadding : 2rem 1rem;

$transdur: 1000ms;

@keyframes load {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.load {
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load 3000ms ease-in-out 1 forwards;
}

@keyframes spinner {
    0% {
        border-color: #9356DC;
        opacity: 0;
        transform: scale(0.5);
    }
    16.66% {
        border-color: #9356DC;
        opacity: 1;
        transform: scale(1);
    }
    33.33% {
        border-color: #9356DC;
        opacity: 0;
        transform: scale(0.5);
    }
    33.34% {
        border-color: #FF79DA;
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        border-color: #FF79DA;
        opacity: 1;
        transform: scale(1);
    }
    66.66% {
        border-color: #FF79DA;
        opacity: 0;
        transform: scale(0.5);
    }
    66.67% {
        border-color: #99E2D0;
        opacity: 0;
        transform: scale(0.5);
    }
    83.33% {
        border-color: #99E2D0;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        border-color: #99E2D0;
        opacity: 0;
        transform: scale(0.5);
    }
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    background-color: $loadingSpinnerBg;
    animation: spinner 3s ease-in-out infinite;
}

.loadingSpinnerImg {
    width: 90%;
}

.content {
    position: relative;
    z-index: 1;
    display: block;
}

body {
    font-family: 'Shrikhand', 'Roboto', sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

h1, h2, h3 {
    font: 'Shrikhand', sans-serif;
    margin: 0;
}

h1, h2 {
    padding-bottom: 1rem;
}

p, span, img {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    height: 3rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow $transdur, filter $transdur;
    &.geoButton {
        width: 3rem;
        background-color: $grey;
        margin-right: .5rem;
        font-size: 1.3rem;
    }
    &.searchButton {
        background: linear-gradient(to bottom right, $secondary, 45%, $primary);
        color: whitesmoke;
        box-shadow: 0 .1rem .4rem .1rem $grey;
    }
    &.validationButton {
        background: linear-gradient(to bottom right, $secondary, 45%, $primary);
        color: whitesmoke;
        box-shadow: 0 .1rem .4rem .1rem $grey;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(110%);
        box-shadow: 0 .1rem .4rem .1rem $darkGrey;
    }
    &:focus {
        outline-style: none;
    }
}

.header {
    height: 5rem;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 0.5rem $darkGrey;
    margin: 0;
}

.logo {
    grid-column: 2 / 2;
    justify-self: center;
}

.searchZone {
    position: relative;
    z-index: 2;
    background-color: $lightGrey;
}

.location {
    height: 4rem;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchBar {
    display: flex;
    justify-content: space-between;
}

.locationInput {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    &:focus {
        outline: solid 2px $darkGrey;
        background-color: whitesmoke;
    }
}

.searchSubmission {
    padding: $sectionPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    h2 {
        font-size: 1.1rem;
        font-weight: normal;
    }
}

.operationInfo {
    padding: $sectionPadding;
    h2 {
        font-family: Roboto;
    }
}

.processCardGroup {
    padding: 0 1rem;
    display: grid;
    row-gap: 1.5rem;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

.processCard {
    height: 4rem;
    background-color: $lightGrey;
    border-radius: 1rem;
    box-shadow: 0 .1rem .4rem .1rem $grey;
    display: flex;
    align-items: center;
    transition: background-color $transdur, box-shadow $transdur, filter $transdur;
    &:hover {
        background-color: lighten($primary, 32%);
        box-shadow: 0 .1rem .4rem .1rem $darkGrey;
        cursor: default;
        .processIcon {
            color: $primary;
        }
    }
}

.processStep {
    margin-right: 1.5rem;
    margin-left: -.9rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 3rem;
    color: whitesmoke;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processIcon {
    margin-right: 1.5rem;
    color: $darkGrey;
}

.processText {
    font-weight: 500;
}

.searchResults {
    background-color: $lightGrey;
    padding: $sectionPadding;
    h2 {
        font-family: Roboto;
    }
    .cardGroup {
        display: grid;
        row-gap: 2rem;
        @media screen and (min-width: 800px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
        @media screen and (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 1.5rem;
        }
    }
}

.card {
    height: 15rem;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .1rem .4rem .1rem $grey;
    @media screen and (min-width: 500px) {
        height: 20rem;
    }
    @media screen and (min-width: 750px) {
        height: 22rem;
    }
}

.cardPictureContainer {
    position: relative;
    height: 11rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    overflow: hidden;
    @media screen and (min-width: 500px) {
        height: 16rem;
    }
    @media screen and (min-width: 750px) {
        height: 18rem;
    }
}

.cardPictureContainer:hover .cardPicture {
  transform: scale(1.1);
}

.cardPicture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1000ms ease-out;
    &.cardPicture1 {
        object-position: 0% 85%;
    }
    &.cardPicture2 {
        object-position: 0% 61%;
    }
    &.cardPicture3 {
        object-position: 0% 95%;
    }
    &.cardPicture4 {
        object-position: 0% 90%;
    }
    @media screen and (min-width: 1280px) {
        &.cardPicture1 {
            object-position: 40% 85%;
        }
        &.cardPicture3 {
            object-position: 20% 95%;
        }
        &.cardPicture4 {
            object-position: 40% 90%;
        }
    }
}

.newSticker {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.9rem;
    height: 1.6rem;
    padding: .4rem;
    background-color: $tertiary;
    font-family: Roboto;
    font-weight: 500;
    color: darken($tertiary, 40%);
    border-radius: .16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-family: Roboto;
    }
}

.cardTitle {
    display: flex;
    flex-direction: column;
}

.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkHeart {
    position: absolute;
    &:checked ~.heartLabel {
        .cardIconEmpty {
            opacity: 0;
        }
        .cardIconFull {
            opacity: 1;
        }
    }
}

.cardIconEmpty {
    cursor: pointer;
    position: absolute;
    opacity: 1;
    transition: opacity 250ms;
}

.cardIconFull {
    cursor: pointer;
    position: relative;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity $transdur;
}

.footer {
    padding: $sectionPadding;
    color: whitesmoke;
    background-color: black;
}

.footerTitle {
    display: flex;
    @media screen and (min-width: 800px) {
        justify-content: center;
    }
}

.footerContent {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 800px) {
        justify-content: center;
        flex-direction: row;
    }

}
.footerLink {
    color: whitesmoke;
    display: flex;
    line-height: 1.7rem;
    @media screen and (min-width: 800px) {
        margin: 0 1rem;
    }
}

.footerLinkIcon {
    width: 20px;
    padding-right: .5rem;
}

.restaurantPicture {
    position: relative;
    z-index: 1;
    height: 20rem;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 800px) {
        height: 30rem;
    }
}

.restaurantContent {
    position: relative;
    z-index: 9999;
    background-color: $grey;
    margin-top: -3.5rem;
    padding: 2rem .5rem;
    border-radius: 2rem 2rem 0 0;
    display: grid;
    row-gap: 2rem;
}

.restaurantTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 .5rem;
    @media screen and (min-width: 1280px) {
        padding: 0 1rem;
    }
}

.restaurantMenu {
    display: grid;
    row-gap: 1rem;
    padding: 0 .5rem;
    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        padding: 0 1rem;
    }
}

.menuTitle {
    position: relative;
    font-family: Roboto;
    font-weight: normal;
    text-transform: uppercase;
    padding: .3rem 0;
    animation: loadMenu 1000ms ease-in 1 both;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 3.5rem;
        height: .15rem;
        background-color: $tertiary;
    }
}

.dishList {
    padding: 1rem 0;
    display: grid;
    row-gap: 1rem;
}

.dishCard {
    height: 4rem;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px 0px $darkGrey;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    animation: loadMenu 1000ms ease-in 1 both;
}

.dishLabel {
    padding: .5rem .5rem;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    font-weight: 600;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dishText {
    width: 450px;
    font-family: Roboto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .dishTitle {
        font-size: .9rem;
        @media screen and (min-width: 768px) {
            font-size: 1.1rem;
        }
    }
    .dishDescription {
        font-size: .85rem;
        transition-duration: 2000ms;
        margin-right: 1.5rem;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

.dishPrice {
    box-sizing: border-box;
    font-family: Roboto;
    padding: 0 1.5rem .7rem 1.5rem;
    margin-left: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-self: flex-end;
    transition-duration: 1000ms;
}

.check {
    position: absolute;
    left: 100%;
    height: 4rem;
	width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    transition-duration: 1000ms;
}

.checkIcon {
    color: white;
    transition-duration: 1000ms;
}

.checkBox:checked ~.dishLabel .dishDescription {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkBox:checked ~.dishPrice {
    transform: translateX(-100%);
}

.checkBox:checked ~.check {
    transform: translateX(-100%);
}

.checkBox:checked ~.check > i {
    transform: rotate(360deg);
}

.orderValidation {
    background-color: $grey;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

@keyframes loadMenu {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.appearDelay1 {
    animation-delay: 100ms;
}

.appearDelay2 {
    animation-delay: 300ms;
}

.appearDelay3 {
    animation-delay: 500ms;
}

.appearDelay4 {
    animation-delay: 700ms;
}

.appearDelay5 {
    animation-delay: 900ms;
}

.appearDelay6 {
    animation-delay: 1100ms;
}

.appearDelay7 {
    animation-delay: 1300ms;
}

.appearDelay8 {
    animation-delay: 1500ms;
}

.appearDelay9 {
    animation-delay: 1700ms;
}

.appearDelay10 {
    animation-delay: 1900ms;
}

.appearDelay11 {
    animation-delay: 2100ms;
}

.appearDelay12 {
    animation-delay: 2300ms;
}

.appearDelay13 {
    animation-delay: 2500ms;
}