/*******************************************************
*Conception et paramétrages du footer*******************
*******************************************************/ 

.footer {
    padding: $sectionPadding;
    color: $lightenPolicy;
    background-color: $footerBg;
}

.footerTitle {
    display: flex;

    @media screen and (min-width: $tabletWidth) {
        justify-content: center;
    }
}

.footerContent {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tabletWidth) {
        justify-content: center;
        flex-direction: row;
    }
}

.footerLink {
    color: $lightenPolicy;
    display: flex;
    line-height: 1.7rem;

    @media screen and (min-width: $tabletWidth) {
        margin: 0 1rem;
    }
}

.footerLinkIcon {
    width: 20px;
    padding-right: .5rem;
}