/*******************************************************
*Conception et paramétrages du header*******************
*******************************************************/ 

.header {/*En grid pour le positionnement et avec un z-index pour passer le box-shadow au-dessus du bandeau de localisation*/
    height: 5rem;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    position: relative;
    z-index: 10;
    @include shadowHeader;
    margin: 0;
}

.logo {
    grid-column: 2 / 2;
    justify-self: center;
}