.button {
    height: 3rem;
    padding: 1rem;
    border: none;
    border-radius: $buttonRadius;
    font-size: $buttonFontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow $transDur, filter $transDur;

    &.geoButton {
        width: 3rem;
        background-color: $grey;
        margin-right: .5rem;
        font-size: $iconSize;
    }

    &.searchButton {
        background: linear-gradient(to bottom right, $secondary, 45%, $primary);
        color: $lightenPolicy;
        @include shadowButton;
    }

    &.validationButton {
        background: linear-gradient(to bottom right, $secondary, 45%, $primary);
        color: $lightenPolicy;
        @include shadowButton;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(110%);
        @include shadowButtonHover;
    }

    &:focus {
        outline-style: none;
    }
}