/*******************************************************
*Conception et paramétrages des cards*******************
*******************************************************/

/*Cards de la page d'accueil**
*****************************/
.card {/*Container de la card*/
    height: 15rem;
    width: 100%;
    background-color: $cardBg;
    border-radius: $cardRadius;
    display: flex;
    flex-direction: column;
    @include shadowCard;

    @media screen and (min-width: $phabletWidth) {
        height: 20rem;
    }

    @media screen and (min-width: $tabletWidth) {
        height: 22rem;
    }
}

.cardPictureContainer {/*Container de la photo permettant l'effet de zoom par un scale au hover*/
    position: relative;
    height: 11rem;
    width: 100%;
    border-radius: $cardPictureRadius;
    display: flex;
    overflow: hidden;

    @media screen and (min-width: $phabletWidth) {
        height: 16rem;
    }

    @media screen and (min-width: $tabletWidth) {
        height: 18rem;
    }
}

.cardPictureContainer:hover .cardPicture {/*Scale au hover*/
    transform: scale(1.1);
}

.cardPicture {/*L'image avec les propriétés de la transition du scale*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: $transDur ease-out;

    /*Le positionnement des images*/
    &.cardPicture1 {
        object-position: 0% 85%;
    }

    &.cardPicture2 {
        object-position: 0% 61%;
    }

    &.cardPicture3 {
        object-position: 0% 95%;
    }

    &.cardPicture4 {
        object-position: 0% 90%;
    }

    @media screen and (min-width: $desktopWidth) {
        &.cardPicture1 {
            object-position: 40% 85%;
        }

        &.cardPicture3 {
            object-position: 20% 95%;
        }

        &.cardPicture4 {
            object-position: 40% 90%;
        }
    }
}

.newSticker {/*Sticker "Nouveau"*/
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4.9rem;
    height: 1.6rem;
    padding: .4rem;
    background-color: $tertiary;
    font-family: Roboto;
    font-weight: 500;
    color: darken($tertiary, 40%);
    border-radius: $stickerRadius;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {/*Container du texte des cards*/
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-family: Roboto;
    }
}

.cardTitle {/*Titre de la carte avec une width élargissant la zonne de click*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardIcon {/*Icone coeur de gestion des favoris*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Effets liés aux checkbox utilisées**
*************************************/
.checkBox {/*Checkbox permettant d'activer des effets au click*/
    position: absolute;
    z-index: 100;
    opacity: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &:checked~.heartLabel {/*Effet de coloration du coeur*/
        .cardIconEmpty {
            opacity: 0;
        }

        .cardIconFull {
            opacity: 1;
        }
    }

    &:checked~.dishPrice {/*Translation de la div de prix*/
        transform: translateX(-4rem);
        margin-left: 4.5rem;
    }

    /*Translation de la div de confirmation et rotation de l'icône qu'elle contient*/
    &:checked~.check {
        transform: translateX(-100%);
    }

    &:checked~.check>i {
        transform: rotate(360deg);
    }
}

/*Coloration des coeurs*/
.cardIconEmpty {
    position: absolute;
    opacity: 1;
    transition: opacity 250ms;
}

.cardIconFull {/*Application d'un dégradé au background qui est limité à la portion située sous le texte et transparence du texte (ici icône de coeur)*/
    cursor: pointer;
    position: relative;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity $transDur;
}

/*Les cards des plats*
**********************/

.dishCard {/*Container principal contenant...*/
    font-family: Roboto;
    height: 4rem;
    position: relative;
    background-color: $dishCardBg;
    border-radius: $cardRadius;
    @include dishCardShadow;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    animation: loadMenu $animDur ease-in-out 1 both;
}

.dishText {/*...une div de texte,avec les propriétés permettant de tronquer avec ellipse,...*/
    display: flex;
    flex-direction: column;
    padding: .5rem 0 0 1rem;
    white-space: nowrap;
    overflow: hidden;

    .dishTitle,
    .dishDescription {
        font-family: Roboto;
        padding-bottom: .2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dishPrice {/*...une div de prix qui translate au check,...*/
    padding: 0 1rem .6rem 0;
    display: flex;
    align-self: flex-end;
    transition-duration: $transDur;
}

.check {/*...une div de confirmation, qui translate au check et dont l'icône tourne alors*/
    position: absolute;
    left: 100%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    transition-duration: $transDur;
}

.checkIcon {
    font-size: $iconSize;
    color: $lightenPolicy;
    transition-duration: $transDur;
}