/*Polices, tailles, mise en forme de base en fonction des balises utilisées*
***************************************************************************/

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
}

h1,
h2 {
    padding-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

p,
span,
img {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $linkColor;
}