/*******************************************************
*Blocs présents sur la page d'accueil uniquement********
*******************************************************/ 

/*Zone de recherche***
*********************/

.searchZone {/*z-index < à celui du header pour l'effet de chevauchement du header*/
    position: relative;
    z-index: 2;
    background-color: $lightGrey;
}

.location {/*Bandeau de localisation*/
    height: 4rem;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchBar {
    display: flex;
    justify-content: space-between;
}

.locationInput {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    border: none;
    font-weight: bold;
    text-align: center;

    &:focus {/*Comportement au focus (border et zone de saisie)*/
        @include inputFocus;
    }
}

.searchSubmission {/*Zone de validation de la recherche*/
    padding: $sectionPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto;

    h1, h2 {
        font-family: Roboto;
    }
    h2 {
        font-size: 1.1rem;
        font-weight: normal;
    }
}

/*Zone de présentation du process de commande**
***********************************************/

.operationInfo {
    padding: $sectionPadding;

    h2 {
        font-family: Roboto;
    }
}

/*Groupe en grid pour disposition*/
.processCardGroup {
    padding: 0 1rem;
    display: grid;
    row-gap: 1.5rem;

    @media screen and (min-width: $tabletWidth) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

/*Cards en flex pour gérer facilement le positionnement des différents éléments à l'aide notamment du margin*/
.processCard {/*Propriétés de la card et notamment de la transition intervenant au hover*/
    height: 4rem;
    background-color: $lightGrey;
    border-radius: $cardRadius;
    @include shadowButton;
    display: flex;
    align-items: center;
    transition: background-color $transDur, box-shadow $transDur, filter $transDur;

    &:hover {/*Effet au hover*/
        background-color: lighten($primary, 32%);
        @include shadowButtonHover;
        cursor: default;

        .processIcon {
            color: $primary;
        }
    }
}

.processStep {/*Numéro de l'étape dans une div ronde avec chevaument par margin-left négatif*/
    margin-right: 1.5rem;
    margin-left: -.9rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 3rem;
    color: $lightenPolicy;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processIcon {/*Icône associée à l'étape*/
    margin-right: 1.5rem;
    color: $darkGrey;
}

.processText {
    font-weight: 500;
}

/*Zone de résultat de recherche, présentant les restaurants**
*************************************************************/
.searchResults {
    background-color: $lightGrey;
    padding: $sectionPadding;

    h2 {
        font-family: Roboto;
    }

    .cardGroup {/*Galerie en grid avec paramétrage des différents displays*/
        display: grid;
        row-gap: 2rem;

        @media screen and (min-width: $tabletWidth) {
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }

        @media screen and (min-width: $desktopWidth) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 1.5rem;
        }
    }
}