.restaurantPicture {
    position: relative;
    z-index: 1;
    height: 20rem;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 800px) {
        height: 30rem;
    }
}

.restaurantContent {
    position: relative;
    z-index: 9999;
    background-color: $grey;
    margin-top: -3.5rem;
    padding: 2rem .5rem;
    border-radius: 2rem 2rem 0 0;
    display: grid;
    row-gap: 2rem;
}

.restaurantTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 .5rem;
    @media screen and (min-width: 1280px) {
        padding: 0 1rem;
    }
}

.restaurantMenu {
    display: grid;
    row-gap: 1rem;
    padding: 0 .5rem;
    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        padding: 0 1rem;
    }
}

.menuTitle {
    position: relative;
    font-family: Roboto;
    font-weight: normal;
    text-transform: uppercase;
    padding: .3rem 0;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 3.5rem;
        height: .15rem;
        background-color: $tertiary;
    }
}

.dishList {
    padding: 1rem 0;
    display: grid;
    row-gap: 1.2rem;
}

.orderValidation {
    background-color: $grey;
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}