$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$lightGrey: #f6f6f6;
$darkGrey: #808080;

$loadingSpinnerBg: gainsboro;
$footerBg: black;
$inputBg: whitesmoke;
$cardBg: whitesmoke;
$dishCardBg: white;

$lightenPolicy: whitesmoke;
$linkColor: black;

$iconSize: 1.3rem;
$buttonFontSize: 1.1rem;

$sectionPadding : 2rem 1rem;

$buttonRadius: 2rem;
$cardRadius: 1rem;
$cardPictureRadius: 1rem 1rem 0 0;
$stickerRadius: .16rem;

$transDur: 1000ms;
$animDur: 2000ms;
$loadDur: 3000ms;

$phabletWidth: 500px;
$tabletWidth: 750px;
$desktopWidth: 1280px;
$maxWidth: 1440px;